<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat Application</h1>
    <p class="socket-id"></p>
    <input type="text" id="text" placeholder="text">
    <input type="text" id="to" placeholder="to">
    <button id="btn">click</button>
    <p></p>
    <input type="text" id="join" placeholder="join room">
    <button id="btnjoin">Join</button>
    <div class="meaages"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
       const socket=io();
       socket.on("socketid",(socketid)=>{
           
            document.querySelector(".socket-id").innerHTML=socketid;
       })
       document.querySelector("#btn").addEventListener("click",()=>{
            const value=document.querySelector("#text").value;
            const to=document.querySelector("#to").value;
            
            if(to){
                
                const id=socket.id;
                socket.emit("messageto",{id,value,to});
                document.querySelector("#text").value="";
                document.querySelector("#to").value="";
            }
            else{
                document.querySelector("#text").value="";
                console.log(value);
                socket.emit("message",value);
            }
       })
       socket.on("receivedMessage",(message)=>{
            console.log(message);
            const node=document.createElement("p");
            node.textContent=message;
            document.querySelector(".meaages").appendChild(node);
       })
       document.querySelector("#btnjoin").addEventListener("click",()=>{
            const val=document.querySelector("#join").value;
            socket.emit("joinroom",val);
       })
    </script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="join" class="room">
    <button onclick="joinroom()" >Join Room</button>
    <video class="local" autoplay="true"></video>
    <video class="remote" autoplay="true"></video>
    <button onclick="createRoom()">Create Room</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>
</body>
</html>