<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat Application</h1>
    <input type="text" id="text">
    <button id="btn">click</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        document.querySelector("#btn").addEventListener("click",()=>{
            const val=document.querySelector("#text").value;
            socket.emit("message",val);
            socket.on("message",(m)=>{
                console.log(m);
            })
        })
    </script>
</body>
</html>